<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles/style-admin-product.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <title>Document</title>
</head>

<body>
  <div class="editer">
    <ul>
      <li style="font-size: 80px;">List Client</li>

      <ul>
        <li style="float: right; background-color: #4CAF50; "><a href="/admin">Admin paper</a></li>
      </ul>
    </ul>
  </div>
  <div style="margin-top: 30px; margin-left: 120px; margin-right: 120px;">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" style="border: 2px solid black; text-align: center;">Customer name</th>
          <th scope="col" style="border: 2px solid black; text-align: center;">Customer email</th>
          <th scope="col" style="border: 2px solid black; text-align: center;">Customer phone</th>
          <th scope="col" style="border: 2px solid black; text-align: center;">Customer address</th>
          <th scope="col" style="border: 2px solid black; text-align: center;">Product</th>
        </tr>

      </thead>
      <tbody>
        <% function groupBy(list, keyGetter) {%>
        <%const map = new Map();%>
        <%list.forEach((item) => {%>
        <%   const key = keyGetter(item);%>
        <%    const collection = map.get(key);%>
        <%    if (!collection) {%>
        <%      map.set(key, [item]);%>
        <%  } else {%>
        <%       collection.push(item);%>
        <%   }%>
        <%   });%>
        <%   return map;%>
        <%  } %>
        <% var listdatas = listdata.sort(function (a, b) {%>
        <% if (a.date > b.date) return -1;%>
        <% if (a.date < b.date) return 1;%>
        <% return 0;%>
        <% }) %>

        <% const grouped = groupBy(listdata, datas => datas.date); %>


        <% grouped.forEach(function(data){ %>
        <td scope="col" colspan="5" style="border: 2px solid black; text-align: center; background-color: khaki;">Order
          date (yy/mm/dd): <strong><%- data[0].date%> </strong></td>
        <tr>
          <%data.forEach(function(datas){ %>
          <td style="border: 1px solid black;"><%- datas.name %></td>
          <td style="border: 1px solid black;"><%- datas.email %></td>
          <td style="border: 1px solid black;"><%- datas.phone %></td>
          <td style="border: 1px solid black;"><%- datas.address %></td>
          <td style="border: 1px solid black;"> <a style="text-decoration: none;"
              href="order/view/<%- datas._id %> ">Your Cart</a></td>
        </tr>

        <% });}); %>
      </tbody>
    </table>
  </div>
</body>

</html>